name: Evals

on:
  push:
    branches:
      - '**'

jobs:
  end-to-end-evals:
    runs-on: ubuntu-latest
    permissions:
      issues: write # This is needed to comment on the PR
      contents: read # This is needed to read the PR body
      pull_requests: write # This is needed to comment on the PR

    name: Comment
    steps:
      - name: Posting scores as PR comment
        run: |
          curl -sSL -X POST \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/${{ github.repository }}/issues/4/comments \
            -d '{"body":"hello"}'