name: Evals

on:
  workflow_dispatch: # For manual trigger of evals
  push:
    branches:
      - '**'
jobs:
  resolve-commit-sha:
    runs-on: ubuntu-latest
    outputs:
      commit_sha: ${{ steps.set-sha.outputs.commit_sha }}
    steps:
      - id: set-sha
        run: |
          if [ "${{ github.event_name }}" = "pull_request_target" ]; then
            echo "commit_sha=${{ github.event.pull_request.head.sha }}" >> "$GITHUB_OUTPUT"
          else
            echo "commit_sha=${{ github.sha }}" >> "$GITHUB_OUTPUT"
          fi

  evaluation:
    name: Evaluation Flow
    uses: ./.github/workflows/eval-flow.reusable.yml
    needs: [resolve-commit-sha]
    secrets: inherit

  post-evaluation-commit:
    name: Results Posting (Eval-History Repo)
    runs-on: ubuntu-latest
    needs: [resolve-commit-sha, evaluation]
    if: (github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'workflow_dispatch'
    env:
      EVAL_RESULT_REPOSITORY: aipotheosis-labs/gm-eval-results
    steps:
      # Checkout the GM Eval Result Repository using the PAT token (for cross-repo access)
      - name: Checkout Eval Result Repository
        uses: actions/checkout@v4
        with:
          repository: ${{ env.EVAL_RESULT_REPOSITORY }}
          token: ${{ secrets.EVAL_RESULT_COMMIT_PAT }}

      - name: Construct Eval Summary
        id: construct-eval-summary-json
        run: |
          EVAL_SUMMARY_JSON=$(jq -n -c \
            --arg datetime $(date -Iseconds) \
            --arg commit_sha "${{ needs.resolve-commit-sha.outputs.commit_sha }}" \
            --arg report_url "${{ needs.evaluation.outputs.report_url }}" \
            --argjson grader_scores '${{ needs.evaluation.outputs.grader_scores }}' \
            --argjson token_usages '${{ needs.evaluation.outputs.total_model_usage }}' \
            '{
              "datetime": $datetime,
              "commit_sha": $commit_sha,
              "report_url": $report_url,
              "grader_scores": $grader_scores,
              "token_usages": $token_usages
            }'
          )
          echo "eval_summary_json=$EVAL_SUMMARY_JSON" >> "$GITHUB_OUTPUT"

      - name: Resolve Eval Summary Filepath
        id: resolve-eval-summary-filepath
        env:
          # Only using ref_name to get the branch name since this job is only triggered on commit / workflow_dispatch
          BRANCH_NAME: ${{ github.ref_name }} 
        run: |
          TIMESTAMP=$(date +%Y%m%d%H%M%S)
          SHORT_SHA=$(echo ${{ needs.resolve-commit-sha.outputs.commit_sha }} | cut -c 1-7)
          mkdir -p eval_history/${BRANCH_NAME}
          echo "filepath=eval_history/${BRANCH_NAME}/eval_${TIMESTAMP}_${SHORT_SHA}.json" >> "$GITHUB_OUTPUT"

      - name: Append Eval Summary to Result File
        env:
          # Passing through env var since the content will be escaped by the shell automatically.
          CONTENT: ${{ steps.construct-eval-summary-json.outputs.eval_summary_json }}
        run: |
          echo "Appending to file: ${{ steps.resolve-eval-summary-filepath.outputs.filepath }}"
          printf '%s\n' "$CONTENT" >> "${{ steps.resolve-eval-summary-filepath.outputs.filepath }}"

      - name: Configure Git User
        shell: bash
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      # Note: skip the CI pipeline by appending [skip ci] in commit message
      - name: Commit & Push
        shell: bash
        run: |
          git add "${{ steps.resolve-eval-summary-filepath.outputs.filepath }}"

          if git diff --cached --quiet; then
            echo "No changes to commit."
            exit 0
          fi

          git commit -m "Update eval summary - ${{ needs.resolve-commit-sha.outputs.commit_sha }} [skip ci]"
          git push
