name: Evals

on:
  workflow_dispatch: # For manual trigger of evals
  push:
    branches:
      - '**'
jobs:
  end-to-end-evals:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write # This is needed to comment on the PR

    name: Evals
    steps:

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Extract Eval Results
        id: extract-eval-results
        run: |
          {
            echo "grader_scores<<EOF"
            echo '{
              "customer support tone grader": 4.0,
              "concise score grader": 5.0,
              "formatting score grader": 4.0,
              "multilingual score grader": 5.0,
              "humanized score grader": 5.0,
              "resolution oriented score grader": 5.0,
              "no pass phrases score grader": 5.0,
              "no reveal score grader": 5.0,
              "general toxicity score grader": 5.0,
              "cultural bias score grader": 5.0
            }'
            echo "EOF"
          } >> $GITHUB_OUTPUT
          echo "report_url=https://www.google.com" >> $GITHUB_OUTPUT
          echo ${{ github.event.pull_request.number }}
          echo "test"

      # Format eval results into a markdown table, output to `message` variable
      - name: Format Eval results
        id: format-eval-results
        run: |
          TABLE_MARKDOWN=$(echo '${{ steps.extract-eval-results.outputs.grader_scores }}' | jq -r '
            "| Grader | Score |",
            "| --- | --- |",
            (to_entries[] | "| \(.key) | \(.value) |")
          ')

          {
            echo "message<<EOF"
            echo "## Eval Run Result:"
            echo "**Commit SHA**: \\\`4ff88b4c3a66360fda0fdc0b6894991f78bed558\\\`"
            echo "**Report URL**:"
            echo "https://platform.openai.com/evaluations/eval_6936fcb6e4188191a4eb1a17ff3251e2?project_id=proj_YWnZGLVH9z06tZZZEpMs1B8s&run_id=evalrun_6936fcb7a83081918671cf62f59de7fd"
            echo ""
            echo "$TABLE_MARKDOWN"
            echo "EOF"
          } >> $GITHUB_OUTPUT

      - name: Posting scores as PR comment
        uses: ./.github/actions/comment-pr
        with:
          message: ${{ steps.format-eval-results.outputs.message }}
          pr_number: 4
          repository: ${{ github.repository }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Construct eval summary json
        id: construct-eval-summary-json
        run: |
          EVAL_SUMMARY=$(jq -n \
            --arg datetime $(date -Iseconds) \
            --argjson grader_scores '${{ steps.extract-eval-results.outputs.grader_scores }}' \
            '{
              "datetime": $datetime,
              "grader_scores": $grader_scores,
            }'
          )
          {
            echo "eval_summary<<EOF"
            echo $EVAL_SUMMARY
            echo "EOF"
          } >> $GITHUB_OUTPUT


      - name: Append eval summary to eval result file
        # if: (github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'workflow_dispatch'
        uses: ./.github/actions/append-file
        with:
          content: ${{ steps.construct-eval-summary-json.outputs.eval_summary }}
          commit_message: "Update eval summary [skip ci]" # This is IMPORTANT to skip the CI pipeline from running again.
          git_username: "github-actions[bot]"
          git_email: "github-actions[bot]@users.noreply.github.com"
          file_path: eval_logs.jsonl
