name: Evals

on:
  workflow_dispatch: # For manual trigger of evals
  push:
    branches:
      - '**'
jobs:
  end-to-end-evals:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write # This is needed to comment on the PR

    name: Evals
    steps:

      - name: Checkout Code
        uses: actions/checkout@v4


      # Format eval results into a markdown table, output to `message` variable
      - name: Format Eval results
        id: format-eval-results
        run: |
          TABLE_MARKDOWN=$(echo '${{ steps.extract-eval-results.outputs.grader_scores }}' | jq -r '
            "| Grader | Score |",
            "| --- | --- |",
            (to_entries[] | "| \(.key) | \(.value) |")
          ')

          {
            echo "message<<EOF"
            echo "## Eval Run Result:"
            echo "*Commit SHA*: \\\`4ff88b4c3a66360fda0fdc0b6894991f78bed558\\\`"
            echo "*Report URL*: https://platform.openai.com/evaluations/eval_6936fcb6e4188191a4eb1a17ff3251e2?project_id=proj_YWnZGLVH9z06tZZZEpMs1B8s&run_id=evalrun_6936fcb7a83081918671cf62f59de7fd"
            echo ""
            echo "$TABLE_MARKDOWN"
            echo "EOF"
          } >> $GITHUB_OUTPUT

      - name: Posting scores as PR comment
        uses: ./.github/actions/comment-pr
        with:
          message: ${{ steps.format-eval-results.outputs.message }}
          pr_number: 4
          repository: ${{ github.repository }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
